{% extends 'base.html' %} {% block content %}
<div class="login-page">
  <div class="logo-txt">
    <a href="index.html" class="logo-link">
      <i class="fas fa-paper-plane"></i>
      <h1>Sho<span>ghl</span></h1>
    </a>
  </div>
  <div class="login-cont">
    <form class="login-form" method = "POST">
      {% csrf_token %}

      <h1>LOGIN</h1>
      <div class="inp email-box">
        <label for="email-login">username</label>
        {{form.username}}
      </div>
      <div class="inp password-box">
        <label for="password-login">Password</label>
        {{form.password}}
      </div>

      <button type="submit" href="#">Log in</button>

      <div class="signup-now">
        <h3>Sign Up Now ? <a href="{% url 'accounts:signup' %}">click here</a></h3>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
